@import "tailwindcss";

:root {
  --primary: #353535;
  --secondary: #d8e1ef;

  --w: #fff;
  --r: #bb3131;

  --tr: #0000;
  --bl: #0593ff;
  --dbl: #0e6ae0;

  --g: #d8e1ef;
  --g-100: #979797;

  --b: #000;
  --b-100: #171717;
  --b-200: #353535;

  --or: #fa9c1b;
  --or-100: #b49577;
  --or-200: #e69635;
  --or-300: #f69e50;
  --or-400: #d36604;
  --or-500: #a85103;
  --or-600: #7f5934;
  --or-700: #513721;

  --sld: solid;
  --bld: bold;

  --fx: flex;
  --nn: none;
  --hdd: hidden;
  --ctr: center;
  --abs: absolute;
  --rlt: relative;

  --qp: 25%;
  --hp: 50%;
  --fp: 100%;

  --n: 0;
  --t: .125rem;
  --q: .25rem;
  --r: .375rem;
  --h: .5rem;
  --hq: .75rem;
  --fs: .875rem;
  --o: 1rem;
  --oq: 1.25rem;
  --oh: 1.5rem;
  --tw: 12rem;
  --twh: 12.5rem;
  
  --ff: 45deg;
  --ffm: -45deg;

  --margin: .625rem var(--n);

  --transition: all .5s;

  --brd: var(--t) var(--sld) var(--bl);
  --brd-2: var(--t) var(--sld) var(--b);
}

[data-theme="dark"] {
  --primary: #d8e1ef;
  --secondary: #353535;
}

@layer base {
  body {
    max-width: 100vw;
    margin: var(--n);
    overflow-x: var(--hdd);
    transition: var(--transition);
    background-color: var(--secondary);
    font-family: var(--primary-font-family);
  }

  footer {
    display: var(--fx);
    text-align: var(--ctr);
    margin-bottom: .937rem;
    align-items: var(--ctr);
    margin-inline: var(--qp);
    border-top: var(--brd);
    justify-content: var(--ctr);
  }
  
  h1 {
    font-size: 2.25rem;
    font-weight: var(--bld);
    color: var(--secondary);
    transition: var(--transition);
  }

  h2 {
    font-size: var(--oh);
    color: var(--primary);
    margin: var(--margin);
    font-weight: var(--bld);
  }

  h3 {
    font-size: var(--fs);
    margin: var(--margin);
    color: var(--primary);
    margin-bottom: var(--q);
    font-weight: var(--bld);
  }

  h4 {
    color: var(--bl);
    font-size: var(--o);
    margin-top: var(--r);
    text-align: var(--ctr);
    font-weight: var(--bld);
  }

  a {
    color: var(--bl);
    word-break: break-all;
    font-weight: var(--bld);
    text-decoration-line: underline;
  }

  p, li {
    font-size: var(--fs);
    color: var(--primary);
  }

  ol {
    list-style-type: decimal;
    padding: var(--h) var(--oq);
  }

  label {
    display: grid;
    font-size: var(--o);
    padding: var(--r);
  }

  input,
  select {
    height: 2.8rem;
    padding: var(--h);
    font-size: var(--fs);
    color: var(--primary);
    border: var(--brd);
    border-radius: var(--r);
    background-color: var(--tr);
  }

  option{
    background-color: var(--secondary);
  }
  
  span {
    font-size: var(--hq);
    color: var(--primary);
    margin-bottom: var(--q);
  }

  textarea {
    width: var(--fp);
    height: 18.75rem;
    border: var(--nn);
    outline: var(--nn);
    min-height: 12.5rem;
    background-color: var(--tr);
    font-family: var(--secondary-font-family);
  }

  section {
    padding: var(--o);
    overflow: var(--hdd);
    max-height: 31.25rem;
    color: var(--primary);
    border: var(--brd);
    margin-bottom: var(--oq);
    border-radius: var(--r);
    transition: var(--transition);
  }

  button {
    cursor: pointer;
    display: var(--fx);
    border: var(--brd);
    font-weight: var(--bld);
    align-items: var(--ctr);
    justify-content: var(--ctr);
    border-radius: var(--r);
  }

  @media (width <= 48rem) {
    main {
      padding-inline: var(--h);
    }

    header {
      padding-inline: var(--h);
    }

    footer {
      margin-inline: var(--h);
    }

    h1 {
      font-size: var(--oh);
    }

    h2 {
      font-size: var(--oq);
    }

    h3 {
      font-size: var(--fs);
    }

    h4 {
      font-size: var(--h);
    }

    span {
      font-size: var(--h);
    }
  }
}

@layer components {
  .notebook {
    position: var(--rlt);
    padding-left: 4.5rem;
    line-height: var(--oq);
    padding-top: var(--oq);
    box-sizing: border-box;
    margin-bottom: var(--oh);
    border-radius: var(--h);
    padding-right: var(--h);
    padding-bottom: var(--h);
    background-color: var(--w);
    background-size: var(--fp) var(--oq);
    box-shadow: var(--nn) .0625rem var(--t) var(--nn) rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(#f5f5f0 1.1rem, var(--g) var(--oq));
  }

  .github .box:after {
    content: "";
    display: block;
    left: var(--n);
    right: var(--n);
    bottom: var(--n);
    z-index: var(--n);
    position: var(--abs);
    border-top: var(--twh) var(--sld) var(--tr);
    border-left: var(--twh) var(--sld) var(--tr);
    border-bottom: var(--twh) var(--sld) var(--b-100);
  }

  .github .box div a {
    color: var(--w);
    font-size: var(--o);
    font-family: monospace;
    text-decoration: var(--nn);
    padding: 3px 25px 25px 25px;
    -webkit-text-decoration: var(--nn);
    margin: var(--n) var(--n) -12.8px;
    transition: color .15s cubic-bezier(1,-.115,.975,.855);
  }

  .antenna::after {
    content: "";
    width: var(--o);
    height: var(--h);
    margin-top: -9.4rem;
    position: var(--abs);
    margin-left: var(--h);
    border-radius: var(--hp);
    transform: rotate(-25deg);
    background-color: var(--or-300);
  }

  .antenna::before {
    content: "";
    width: var(--oh);
    height: var(--hq);
    border-radius: 50%;
    position: var(--abs);
    margin-top: var(--q);
    margin-left: var(--oq);
    transform: rotate(-20deg);
    background-color: var(--or-300);
  }

  .a1 {
    box-shadow:
      inset var(--n) var(--o) var(--or-500),
      inset var(--n) var(--o) 0.06rem 0.06rem var(--or-500);
  }

  .a1d {
    background: linear-gradient(
      to bottom,
      var(--b-100),
      var(--b-100),
      var(--b-200),
      var(--b-200),
      var(--b-100)
    );
    clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
  }

  .a2d {
    background: linear-gradient(
      to bottom,
      var(--b-100),
      var(--b-100),
      var(--b-200),
      var(--b-200),
      var(--b-100)
    );
    clip-path: polygon(
      47% 0%,
      47% 0%,
      34% 34%,
      54% 25%,
      32% 100%,
      29% 96%,
      49% 32%,
      30% 38%
    );
  }

  .tv::after {
    content: "";
    width: 17rem;
    height: 9rem;
    opacity: 0.09;
    position: var(--abs);
    border-radius: var(--o);
    background-blend-mode: difference;
    background:
      repeating-radial-gradient(var(--or-400) 0 0.0001%, var(--b) 0 0.0002%) var(--qp) var(--n)/2500px
        2500px,
      repeating-conic-gradient(var(--or-400) 0 0.0001%, var(--b) 0 0.0002%) 60% 60%/2500px
        2500px;
  }

  .screen {
    background-blend-mode: difference;
    animation: b 0.2s infinite alternate;
    font-family: var(--primary-font-family);
    background:
      repeating-radial-gradient(var(--b) 0 0.0001%, var(--w) 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(var(--b) 0 0.0001%, var(--w) 0 0.0002%) 60% 60%/2500px
        2500px;
  }



@keyframes b {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}
.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons-div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
}
.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: var(--hp);
  background-color: #7f5934;
  border: var(--brd-2);
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b1::before {
  content: "";
  position: var(--abs);
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: #000000;
}
.b1::after {
  content: "";
  position: var(--abs);
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: #000000;
}
.b1 div {
  content: "";
  position: var(--abs);
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(var(--ff));
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: var(--hp);
  background-color: #7f5934;
  border: var(--brd-2);
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b2::before {
  content: "";
  position: var(--abs);
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(var(--ffm));
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: #000000;
}
.b2::after {
  content: "";
  position: var(--abs);
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(var(--ffm));
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}
.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: var(--hp);
  background-color: #7f5934;
  border: var(--brd-2);
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}
.speakers .g {
  width: auto;
  height: 2px;
  background-color: var(--b-100);
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
}
.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid var(--b-100);
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid var(--b-100);
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base3 {
  position: var(--abs);
  height: 0.15em;
  width: 17.5em;
  background-color: var(--b-100);
  margin-top: 0.8em;
}

.text_404 {
  position: var(--abs);
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
}
.text_4041 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4042 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4043 {
  transform: scaleY(24.5) scaleX(9);
}

}

@keyframes turnover {
  0% {
    transform: rotateX(0);
  }
  12.5% {
    transform: rotateX(90deg);
  }
  25% {
    transform: rotateX(180deg);
  }
  37.5% {
    transform: rotateX(270deg);
  }
  50%,
  100% {
    transform: rotateX(360deg);
  }
}