:root {
  --primary-color: #353535;
  --secondary-color: #d8e1ef;
}

.dark {
  --primary-color: #d8e1ef;
  --secondary-color: #353535;
}

$blue: #0593ff;
$gray: #d8e1ef;
$white: #fff;
$transparent: #0000;

$null: 0;
$quarter: 25%;

$center: center;
$fx: flex;
$inline: inline-block;

$relative: relative;

$pt: pointer;


$border: 2px solid $blue;